/* Global Styles */
* {
    font-family: "JetBrainsMono Nerd Font", sans-serif;
    font-size: 14px;
    min-height: 25px;
}

/* Waybar Background */
window#waybar {
    background: rgba(30, 30, 46, 0.65); /* Semi-transparent */
    border-radius: 10px;
    border: 1px solid #89b4fa;
    padding: 2px;
    min-height: 26px;  /* Adjust for a thinner bar */
}

/* CPU, Memory, Battery, and other modules */
#cpu, #memory, #disk, #temperature, #battery, #backlight, #custom-network, #pulseaudio, #clock, #bluetooth, #custom-power,#custom-launcher,#custom-terminal
#custom-power_profile,
#custom-weather,
#custom-moon,
#custom-wallpaper,
#window,
#clock,
#battery,
#network,
#bluetooth,
#custom-temperature,
#custom-memory,
#workspaces,
#tray,
#backlight 
{
    padding: 2px 8px;
    border-radius: 0px;
    background: #1e1e2e;
    color: #cdd6f4;
    margin: 3px 0px;
}

#temperature.critical{
    color:#f00;
    background: rgb(241, 189, 207);
}

#custom-launcher {
    font-size: 21px;
    background: #1e1e2e;
    color: #89b4fa;
    transition: all 0.3s ease-in-out;
    padding-right: 15px;
    margin-left: 3px;
}

#workspaces {
    min-width: 10px;  /* Adjust as needed */
    background: rgba(30, 30, 46, 0.85);  /* Transparent background */
    padding: 2px;
    border-radius: 10px;
}

#workspaces button {
    border-radius: 5px;
    padding: 4px 8px;
    background: transparent;
    color: #cdd6f4;
    transition: all 0.3s ease-in-out;
}

#workspaces button.active {
    background: #89b4fa;
    color: #1e1e2e;
}

#workspaces button.focused {
    color: #a6adc8;
    background: #eba0ac;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: #11111b;
    background: #a6e3a1;
    border-radius: 10px;
}

#workspaces button:hover {
    background: #11111b;
    color: #ffffff;
    border-radius: 5px;
}


/* Tooltip (for Hover) */
tooltip {
    background: #1e1e2e;
    border-radius: 5px;
    padding: 1px 5px;
    color: #cdd6f4;
}

#custom-terminal {
    color: #1586a8;
    padding: 1px 15px;
    font-size: 29px;
    border-radius: 5px;
}

#custom-weather {
    color: #e7820f;
    padding: 1px 5px;
    font-size: 14px;
    border-radius: 5px;
    margin-left: 3px;
    background-color: rgba(46, 37, 30, 0.418);
}

#custom-memory {
    color: #eba0ac;
    padding: 10px;
}

#custom-temperature {
    border-radius: 10px 0px 0px 10px;
}

#custom-temperature.critical {
    color: #f00;
}

#backlight {
    border-radius: 10px 0px 0px 10px;
}

#tray {
    border-radius: 10px 0px 0px 10px;
    margin-right: 0px;
    padding: 0px 10px;
}

#workspaces {
    background: #1e1e2e;
    border-radius: 10px;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
}

#custom-power_profile {
    color: #a6e3a1;
    border-left: 100px;
    border-right: 100px;
    background-color: #F00;
}

#custom-power {
    border-radius: 0px 8px 8px 0px;
    margin-right: 3px;
    background: rgba(245, 66, 66, 0.384);
}

#window {
    border-radius: 10px;
    margin-left: 60px;
    margin-right: 60px;
}

#custom-window{
    min-width: 400px;  /* Ensures a fixed width */
    padding: 0 10px;  /* Adjusts spacing */
    background: transparent; /* Keeps background clean */
    color: whitesmoke;
    font-size: 11px;
}

#clock {
    color: #fab387;
    border-radius: 10px 0px 0px 10px;
    margin-left: 10px;
    border-right: 0px;
    background: rgba(30, 30, 46, 0); /* Semi-transparent */
}

#custom-network {
    border-left: 0px;
    border-right: 0px;
}

#bluetooth {
    color: #89b4fa;
    border-radius: 0px 10px 10px 0px;
    padding-right: 15px
} 

#pulseaudio {
    color: #89b4fa;
    border-radius: 0px 10px 10px 0px;
    border-left: 0px;
    border-right: 0px;
    font-size: 14px;
}

#pulseaudio.microphone {
    color: #cba6f7;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px;
}

#pulseaudio.muted {
    font-size: 14px;
}

#battery {
    color: #a6e3a1;
    border-radius: 0 10px 10px 0;
    margin-right: 10px;
    border-left: 0px;
}
#battery.warning {
    color: #FFA500;
}
#battery.critical {
    color: #F00;
} 
#custom-moon {
    border-radius: 0px 10px 10px 0px;
    border-right: 0px;
    margin-left: 0px;
}
